<li class="[+xett.row.status+]" 
[+xett.row.groupeventscount:is=`0`:then=`
title="[+xett.row.room_title+]: frei"
style="
background-color:#33D000;
height:10px;
border:none;
border-top:1px solid black"
>
[+xett.config.canedit:is=`1`:then=`	
<a class="newicon" title="[+xett.row.room_title+] ab [+xett.row.tsday:date_ger=`%d.%m.%Y`+]  belegen" href="[~[+xett.config.docids.maketime+]~]&newday=[+xett.row.tsday:date_ger=`%d`+]&newmonth=[+xett.row.tsday:date_mod=`month`+]&newyear=[+xett.row.tsday:date_mod=`year`+]&callID=[*id*]&callmonth=[+xett.row.tsday:date_mod=`month`+]&callyear=[+xett.row.tsday:date_mod=`year`+]&room_ID=[+xett.row.room_ID+]&room_title=[+xett.row.room_title+]"
style="display:block;height:100%;
">
</a>`+]	 
`+]
[+xett.row.groupeventscount:isnot=`0`:then=`
title="[+xett.config.canedit:is=`1`:then=`[+xett.row.pagetitle+]`+] [+xett.row.Time:date_ger=`%d.%m.%Y`+]-[+xett.row.Timeend:date_ger=`%d.%m.%Y`+]"
style="background-color:red;
height:10px;
border:none;
border-top:1px solid black"
>
[+xett.config.canedit:is=`1`:then=`	
<a class="newicon" title="[+xett.row.room_title+]: [+xett.row.pagetitle+] [+xett.row.Time:date_ger=`%d.%m.%Y`+]-[+xett.row.Timeend:date_ger=`%d.%m.%Y`+]" 
href="[~[+xett.config.docids.edittime+]~]&eventID=[+xett.row.id+]&callmonth=[+xett.row.tsday:date_mod=`month`+]&callyear=[+xett.row.tsday:date_mod=`year`+]&room_ID=[+xett.row.room_ID+]&room_title=[+xett.row.room_title+]&callID=[*id*]"
style="display:block;height:100%;
">
</a>`+]	  
`+]
</li>


       


